<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="container mt-3 bg-light">
      <div class="row">
        <div class="col-md-6 offset-md-6 text-right">
          <a href="<% server_url %>/post/create/post" class="btn btn-primary"
            >New Post</a
          >
        </div>
      </div>

      <div class="posts">
        <h2 class="display-4" id="header-posts">Posts</h2>

        <% posts.map(post =>{ %>
        <div class="w-75 mb-3 p-3" style="background-color: #fff">
          <h3 class="text-grey"><%= post.title %></h3>
          <img src="<%= post.image%>" alt="<%=post.title%>" />
          <p><%= post.description.slice(0, 40) %>...</p>
          <a
            href="<% server_url %>/post/<%= post._id%>"
            class="btn btn-outline-dark"
            >read more</a
          >
        </div>
        <% }) %>
      </div>
    </div>
    <script>
      let posts = document.querySelector('.posts');
      let postHeader = document.querySelector('#header-posts');
      if (navigator.onLine !== true) {
        let errorDiv = document.createElement('div');
        errorDiv.innerHTML = `
            <div class="container">
              <div class="alert alert-danger">
                Ooops your are not connected to the internet
              </div>

            </div>
        `;
        posts.insertBefore(errorDiv, postHeader);
      }
    </script>
  </body>
</html>
